[Unit]
Description=HW05 Bulls

[Service]
Type=simple
User=bulls5
Group=bulls5
Restart=on-failure
Environment=MIX_ENV=prod
Environment=PORT=4791
Environment=PROD=true
Environment=LANG=en_US.UTF-8

WorkingDirectory=/home/bulls5/bulls
ExecStart=/bin/bash /home/bulls5/bulls/start.sh

[Install]
WantedBy=multi-user.target
